.search-filter {
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}

.search-filter > *:not(:last-child) {
  margin-right: 55px;
}

.search-title-label {
  width: 250px !important;
  padding: 0 16px !important;
}
