.secret-word-modal {
  margin-top: 250px;
}

.secret-word-modal .modal-body {
  text-align: center;
}

.secret-word-modal button[type='submit'] {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
