.heading {
  text-align: center;
}

.heading_two {
  text-align: center;
}

.about-info-content {
  background-color: yellow;
  padding-bottom: 20px;
}

.welcome-message {
  background-color: yellow;
}
