/* Default styles for screens above 500px */
.image-container {
  margin-top: 125px;
  height: 80vh;
  background-position: center;
  background-size: cover;
  max-width: 2000px;
}

/* Media query for screens below 500px */
@media (max-width: 500px) {
  .image-container {
    height: 45vh;
  }
}
